# Django Configuration
SECRET_KEY=django-insecure-brainora-secret-key-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
# Set USE_MONGODB=True to connect to MongoDB. Otherwise, SQLite is used.
USE_MONGODB=False
MONGODB_NAME=brainora_db
MONGODB_HOST=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
# MONGODB_PORT=27017
# MONGODB_USER=
# MONGODB_PASSWORD=

# Email SMTP Settings (For production)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_email_password
DEFAULT_FROM_EMAIL=Brainora <noreply@brainora.com>

# Cloudinary Credentials (Optional - fallbacks to local storage if empty)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
