Django==4.2.8
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
pymongo==3.12.3
Pillow==10.1.0
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
django-cors-headers==4.3.1
python-decouple==3.8
whitenoise==6.6.0
gunicorn==21.2.0
cloudinary==1.36.0
django-cloudinary-storage==0.3.0
